.pictureFiber{
  display: flex;
  justify-content: center;
  img{
    width: 500px;
    height: 500px;
  }
}

.pictureFiber2{
  display: flex;
  justify-content: center;
  img{
    width: 850px;
    height: 700px;
  }
}
