.pictureMineral{
  display: flex;
  justify-content: center;
  img{
    width: 350px;
    height: 350px;
  }
}
.divisionMineral{
  li{
    font-size: 21px;
    margin: 30px 100px 40px 55px;
  }
}
.mineral{
  h1{
    font-size: 28px;
    margin-left: 30px;
  }
  p{
    font-size: 22px;
    line-height: 30px;
    margin: 10px 115px 40px 55px;
  }
}
.minerals{
  font-size: 28px;
}
.mineralmikro{
  font-size: 24px;
}
.mineralmakro{
  margin-top: 70px;
  li{
    font-size: 21px;
    margin: 30px 100px 40px 55px;
  }
}