.pictureMineral{
  display: flex;
  justify-content: center;
  img{
    width: 350px;
    height: 350px;
  }
}
.divisionMineral{
  background-image: url("/src/images/image8.jpg");
  background-size: cover;
}