.boxMain{
	a {
		color: black;
		text-decoration: none;
		font-family: 'Gloria Hallelujah', cursive;
		font-weight: bold;
		margin-left: 130px;
		margin-top: 90px;
	}
}
#box{
	height: 250px;
	margin: 30px 0 40px 0;
	font-size: 35px;
}
.box1, .box2, .box3, .box4, .box5, .box6, .box7 {
	background-image: radial-gradient(circle, #e7dfe9, #e9e1eb, #ece3ed, #eee6f0, #f1e8f2);
	display: flex;
}
.nutri{
	width: 280px;
	height: 250px;
	margin-left: 160px;
}
.nutri1{
  margin-left: 265px;
}
.nutri2{
  margin-left: 215px;
}
.nutri3, .nutri4{
  margin-left: 220px;
}
.nutri5{
  margin-left: 245px;
}
.nutri6{
  margin-left: 180px;
  width: 260px;
}