
.vitaminFats{
  display: flex;
  justify-content: center;
  img{
    width: 450px;
    height: 450px;
  }
}
.vitaminWater{
  display: flex;
  justify-content: center;
  img{
    width: 500px;
    height: 500px;
  }
}
