.source{
  display: flex;
  justify-content: center;
}
.division{
  display: flex;
  justify-content: center;
}
.divisionCarbo{
  width: 950px;
  height: 100%;
}
.carbo{
  h1{
    font-size: 28px;
    margin-left: 30px;
  }
  p{
    font-size: 22px;
    line-height: 30px;
    margin: 10px 80px 40px 55px;
  }
}
